PORT=5050 # Sử dụng 5050 trên macOS do port 5000 bị AirPlay Receiver chiếm dụng
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/moc_craft?schema=public" # Đường dẫn PostgreSQL (Neon.tech hoặc local)

# Stripe Test Keys
STRIPE_TEST_SECRET_KEY="sk_test_..."
STRIPE_WEBHOOK_SECRET="whsec_..."

FRONTEND_URL="http://localhost:3000"
